

<div class="container-fluid bg-secondary fixed-bottom">

<section class="row">
  <footer class="col-12">
    <section class="row">
      <div class="col-4 text-center p-2">
        <h5 class="text-center">Quick Links</h5>
        <a href=""><i class="fa fa-facebook"></i></a> <br>
        <a href=""><i class="fa fa-twitter"></i></a> <br>
        <a href=""><i class="fa fa-instagram"></i></a> <br>
        <a href=""><i class="fa fa-linkedin"></i></a> <br>
        <a href=""><i class="fa fa-github"></i></a>

      </div>

      <div class="col-4 text-center">
        <h3>Location</h3><br>
        Wambugu rd Parklands <br>
        Opp Parkie Suites <br>
        P.O BOX 113, <br>
        Parklands.


      </div>

      <div class="col-4 text-center p-2">
        <h3>Sites Built</h3>
        <a href="">www.simbaccm.com</a> <br>
        <a href="">www.winners.co.ke</a> <br>
        <a href="">www.praiseking.com</a> <br>
        <a href="">www.harvest.com</a> <br>
        <a href="">www.imaniest.co.ke</a>

      </div>

    </section>

    <hr class="text-white">

  </footer>

   <b class="text-white text-center">@copyright 2022 All Rights Reserved</b>
</section>
</div>
