<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">



    <link rel="stylesheet" href="{{url_for('static', filename='vendor/products.css')}}">

    <script>
        function logout()
        {
        alert ("Are you sure you want to log out")


        }

    </script>


</head>
<body>

    <div class="container">

        <h1 class="heading text-info">Jambo Shop Online Store <span>Welocome!</span></h1>

        <b>

          <h1>  Welcome {{session['key']}}  :{{session['email']}} </h1>

        </b>

        <a href="/login" class="btn btn-danger btn-lg mb-3" onclick="logout()">log out</a>


        <div class="gallery card shadow bg-secondary p-5">

            <div class="gallery-item">
                {% for item in mydata %}

<!--            with cards-->

            <div class="card shadow" style="border-radius:10px;">]

            <div class="gallery-item">
                <img class="gallery-image" src="../static/images/{{item[7]}}" alt="" style="border-radius:10px;">
            </div>

            <div class="card-body text-center">

                <h6>{{item[1]}}</h6>
                <h6>{{item[3]}}</h6>
                <h6>price {{item[4]}}</h6>
                <h6>Discount: {{item[2]}}</h6>

                <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla eum ipsa maxime dolores non, nesciunt consequuntur harum exercitationem doloribus, voluptas fuga eos facere ea est voluptatibus dignissimos minima veniam nihil?</p>

                <a href="" class="btn btn-primary btn-lg">Add to Cart</a>

            </div>

          </div>

                {% endfor %}

        </div>
        </div>
    </div>
</body>
</html>