<div class="container-fluid">
  <div class="navbar navbar-expand-md navbar-dark bg-dark p-3">
    <a href="" class="navbar-brand">JamboShop</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#jambo">
      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="jambo">
      <div class="navbar-nav">
        <a href="" class="nav-item nav-link active">
          <form action="">
            <input type="text" name="search" id="search" placeholder="Search Your Product here..." class="form-control p-3" style="border-radius:15px width:400px;">
          </form>
        </a>
      </div>

    </div>

  </div>


</div>